  .add-left-emptyside,.add-left-filedside{height: 1800px;width: 14%;float: left;}
  .add-left-emptyside{border-right: 1px solid yellow;background-color: #136c7c;}
  .add-left-filedside{background-color: #398592;}
  .addpro-nav {width: 100%;padding-top: 5%;}
  .addpro-nav li {list-style: none;font-size: 90%;width: 100%;padding-top: 7%;}
  .addpro-nav ul ul {padding-left: 5%;}
  .nav-button {padding: 4%;}
   .addpr-title {
      text-align: left;
      width: 100%;
      padding-top: 3%;
      padding-left: 3%;
      font-size: 200%;
      color: #136c7c;
  }
  .content,.addpro-nav,.content label{float: left;}
  .content input {display: none;}
  .content label {
      cursor: pointer;
      display: block;
      padding: 5px 21px;
      background: #e2f0f1;
      margin: 2px 2px 0 0;
      transition: background-color .7s;
  }
  #table {clear: both;}
  form {padding: 15px;}
  form tr>td:first-child {
      padding-bottom: 40px;
      padding-right: 20px;
      text-align: right;
  }
  form tr>td:nth-child(2n) {text-align: left;}
  form tr>td>a {padding: 0 3%;}
    form tr>td>a:hover {text-decoration: none;color: #333333;}
    #table input {
      display: inline;
      border: 1px solid;
      height: 17px;
      border-radius: 5px;
      padding-left: 1%;
  }
#table input[type="text"]{width:40%;}
#table input[type="url"]{width:40%;}
#table input[type="number"]{width:35%;}
    #table>div {
      position: absolute;
      width: 58%;
      text-align: left;
      padding: 15px;
      overflow: hidden;
      height: 1450px;
      opacity: 0;
      border: 5px solid #c6e2e6;
      transition: opacity 0.5s;
      text-align: center;
  }
  .add-fon {height: 1600px;}
  #punkt1:checked~#table>div:nth-of-type(1),
  #punkt2:checked~#table>div:nth-of-type(2),
  #punkt3:checked~#table>div:nth-of-type(3),
  #punkt4:checked~#table>div:nth-of-type(4),
  #punkt5:checked~#table>div:nth-of-type(5),
  #punkt6:checked~#table>div:nth-of-type(6) {
      opacity: 1;
      z-index: 900;
  }
  #tab>input:checked+label {background: #B0E0E6;color: gray;}
  #tab {margin-left: 2%;}
  #disabled {background: #DCDCDC;color: gray;}
  #name>input {width: 80%;}
  #sum>input {width: 100px;}
  #categoti {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  #categoti input {border: none;vertical-align: middle;}
  #add_video>div {width: 80%;  }
  #add_video input {width: 100%;}
  .obraz {width: 80%;padding-top: 10px;}
  .add_img {
      background: #c6e2e6;
      border: 2px dashed #246c7a;
      text-align: center;
      width: 100%;
      height: 80px;
      padding-top: 5%;
  }
  .add_img>a {text-decoration: none;}
  .save {padding: 5%;}
  .save img:hover {padding-top: 1px;box-shadow: 1;filter: invert(20%);}
  .save img:active {padding-top: 1px;opacity: 0.4;}
  textarea {border-radius: 5px;padding: 5px;width: 80%;}
    #two td {padding-bottom: 30px; }
    #add-desc {width: 100%;height: 60%; }
  
  #add-desc,
  #add-desc-1,
  #add-finance {
      width: 80%;
  }
  .img_for_soc {width: 80%;}
  #img_for_soc {
      background: #c6e2e6;
      border: 2px dashed #246c7a;
      text-align: center;
      height: 80px;
      padding: 5%;
  }
  #twiter,#facebook,#utoube,#google,#link{position: relative;}
  #twiter1>i {left: -38px;}

  #po_sum>input {
      width: 15%;
  }
  .po_sumi {
      text-align: right;
      width: 85%;
  } 
  .img_win {
      background: #c6e2e6;
      border: 2px dashed #246c7a;
      text-align: center;
      width: 72%;
      height: 10%;
      padding: 5%;
      display: inline-block
  }
  .img_win>a {text-decoration: none;}
  .save a:hover {padding-top: 5%;}
  .tab_5 input {width: 80%;}
  .tab_5 input[type='radio'] {
      width: 20px;
      height: 20px;
      border-radius: 50%;
  }
  .tab_5 select {
      width: 81.5%;
      height: 2.1em;
      border: 1px solid #000;
      border-radius: 5px;
  }
    .save_error {opacity: 0.3;}
    #red_error {color: red;font-weight: bold;}
    .content_footer {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
  }
    .blok-right {padding-top: 5%;}
    #add-garbage1 {padding-left: 30%;text-decoration: none;}
    #add-garbage1:hover {
      text-decoration: underline;
      color: red;
  }
.colum-1{
    width:33%;
    float: left;
    text-align: left;
    color:darkblue;
}
.colum-1 p{margin-bottom: 10px;}
.colum-01{
    width:15%;
    float: left;
    text-align: left; 
    margin-right: 3%;
}
.dni a{margin-right: 4%;}
.test2 h5{text-align: left;}
.dni h5{text-align: left;width:45%;font-size:40%}
.row1 input{width: 70%}
.test00{width:100%;float:left;display: inline-block;}
.test1{
    width:25%;
    margin-right: 5%;
    padding-bottom: 5%;
    text-align: right;
}
.test2{width:60%;text-align: left;}
.test1,.test2{display:inline-block;float:left;}

.asdasd{
    width: 100%;
    height: 400px;
}